.Sidebar {
    width: 285px;
    height: 100vh;
}

.ComposeButton {
    margin-left: 10px;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 75px;
    box-shadow: 0px 0px 7px 0px darkgray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ComposeButtonPlus {
    margin-left: 15px;
    margin-top:10px;
}

.ComposeButtonText {
    font-weight: 500;
    margin-top: 15px;
    margin-left: 10px;
    color: gray;
}

.SidebarMenu {
    margin-top:15px;
}
