.MobileTopBar {
    display: flex;
    flex-direction: column;
}

.SearchBarMobile {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10.5px;
    display: flex;
    flex-direction: row;
    height: 38px;
    border-radius: 5px;
    margin-bottom:15px;
    box-shadow: 1px 1px 4px 0px darkgray;
    color: gray;
}

.SearchBarMobileSettings {
    width: 40px;
    margin-top:9.5px;
    padding-left: 14px;
}

.SearchBarMobileText {
    font-size:14px;
    margin-top:10px;
    opacity: .8;
    width: calc(100vw - 50px);
}

.UserImage {
    margin-right: 12px !important;
}

.PrimaryText {
    margin-left:10px;
    margin-bottom:5px;
    font-size:12px;
    color: gray;
    opacity: .8;
}