.MainContentHome {
    min-width: calc(100vw - 900px);
}

.Scroll {
    max-height:calc(100vh - 106px);
    max-width:calc(100vw - 335px);
    overflow-y: scroll;
    overflow-x:hidden;
}

@media only screen and (max-width: 480px) {
    .Scroll {
        max-width: 100% !important;
    }
}