.MainContentPost {
    position: absolute;
    left: 285px;
    right: 50px;
}

.Scroll {
    max-height:calc(100vh - 106px);
    max-width:calc(100vw - 335px);
    overflow-y: scroll;
    overflow-x:hidden;
}