

.Scroll {
    max-height:calc(100vh - 106px);
    max-width:calc(100vw - 335px);
    overflow-y: scroll;
    overflow-x:hidden;
}

@media only screen and (min-width: 481px) { 
    .MainContentPost {
        position: absolute;
        left: 285px;
        right: 50px;
    }
}
  