.MainContentHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SubMainContentHeaderContainer {
    display: flex;
    flex-direction: row;
}

.EmailCountPost {
    font-size: 14px;
    color: gray;
    height: 45px;
    line-height: 45px;
    margin-right:10px;
}

.BackContainer {
    border-radius: 100%;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
    width: 32px;
    margin:auto;
    cursor: pointer;
}

.BackContainer > .Icon {
    margin-left: 8px;
    margin-top: 6px;
}

.BackContainer:hover {
    background-color: #eee;
}

.BackContainer:hover > .Icon {
    color: rgb(30, 30, 30);
}

.BackContainer > .LeftAngle {
    margin-left: 10px;
}

.BackContainer > .RightAngle {
    margin-left: 12px;
}