.TopBar {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .TopBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .TopBarChild {
    height:90%;
    margin-top:10px;
  }
  
  .Settings {
   height: 100%;
   width:80px;
  }
  
  .SettingsLogo {
    margin:auto;
    opacity: .8;
    margin-left:30px;
    margin-top:11px;
  }
  
  .Logo {
    margin-right: 100px;
  }
  
  .Search {    
  }
  
  .SearchBar {
    height: 37px;
    width: 600px;
    border-radius:5px;
    border:none;
    padding-left:20px;
  }
  
  .QuestionMark {
    margin:auto;
    opacity: .7;
    margin-left:30px;
    margin-top:10px;
  }
  
  .GridImage {
    margin:auto;
    opacity: .6;
    margin-left:20px;
    margin-top:12px;
  }
  
  .UserImage {
    margin:auto;
    margin-left:20px;
    margin-right:20px;
    margin-top:6px;
    border-radius:15px;
  }