.InboxItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #eee;
    font-size:15px;
    cursor: pointer;
}

.InboxItem:hover {
    box-shadow:0px 0px 4px gray;
}

.InboxIcon {
    margin-top:10px;
    margin-left: 10px;
    color: gray;
    opacity: .4;
}

.InboxIconLast {
    margin-right:10px;
}

.InboxText {
    margin-top:8px;
}

.Expandable {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
}

.Subreddit {
    min-width: 20.5%;
    max-width: 20.5%;
    font-weight: bold;
}

.Title {
    font-weight: bold;
    margin-top: 0;
    line-height: 35px;
    overflow: hidden;
    min-width: 68.5%;
    max-width: 68.5%;
}

.PostText {
    color: gray;
    opacity: .9;
}

.PostScore {
    font-size:14px;
    font-weight:500;
    margin-top:9px;
    color: darkslategray;
    max-width: 8.5%;
    min-width: 8.5%;
    text-align: right;
}

.Read {
    font-weight: 400 !important;
    background-color: rgb(243, 243, 243);
}