.InboxItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #eee;
    font-size:15px;
    cursor: pointer;
}

.InboxItem:hover {
    box-shadow:0px 0px 4px gray;
}

.InboxIcon {
    margin-top:10px;
    margin-left: 10px;
    color: gray;
    opacity: .4;
}

.InboxIconLast {
    margin-right:10px;
}

.InboxText {
    margin-top:8px;
}

.Expandable {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
}

.Subreddit {
    min-width: 20.5%;
    max-width: 20.5%;
    font-weight: bold;
}

.Title {
    font-weight: bold;
    margin-top: 0;
    line-height: 35px;
    overflow: hidden;
    min-width: 68.5%;
    max-width: 68.5%;
}

.PostText {
    color: gray;
    opacity: .9;
}

.PostScore {
    font-size:14px;
    font-weight:500;
    margin-top:9px;
    color: darkslategray;
    max-width: 8.5%;
    min-width: 8.5%;
    text-align: right;
}

.Read {
    font-weight: 400 !important;
    background-color: rgb(243, 243, 243);
}

@media only screen and (max-width: 480px) {
    .InboxItem {
        height: 50px;
    }

    .Subreddit {
        font-size:12px;
    }

    .Title {
        line-height: 25px;
        font-size: 11px;
    }

    .InboxIcon {
        margin-top:16px !important;
    }

    .PostScore {
        max-width: none !important;
        font-size:11px !important;
    }
}

.ExpandableMobile {
    padding-top:3px;
    padding-bottom:3px;
    display: flex !important;
    padding-left:10px;
    flex-direction: column;
    width: calc(100vw - 40px) !important;
}

.MobileRow {
    display: flex;
    flex-direction: row;
    height: 25px;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) { 
    .OnlyInMobile {
        display: block !important;
    }

    .MobileRow {
        margin-top: -3px;
    }

    .MobileStar {
        margin-top: 5px !important;
    }
}

@media only screen and (min-width: 481px) { 
.OnlyInMobile {
    display: none !important;
    }
}
  
