.PostHeader {
    height:auto;
    padding:20px;
    display: flex;
    flex-direction:row;
    justify-content: space-between
}

.PostHeaderLeft{
    display: flex;
    flex-direction:row;
}

.InboxTag {
    margin-left: 17px;
    margin-top:5px;
    background-color: lightgray;
    padding-left:5px;
    padding-right:5px;
    line-height: 20px;
    height:20px;
    font-size:12px;
    color:gray;
    border-radius: 5px;
}

.PostHeaderButtons {
    margin-top:-8px;
    color:gray;
    min-width:95px;
}


@media only screen and (max-width: 480px) {
    .PostHeaderLeft {
        flex-direction: column;
    }

    .PostTitle {
        margin-left:0px !important;
        font-size:18px !important;
    }

    .InboxTag {
        margin-left:0px !important;
        width: 30px !important;
    }

    .PostHeaderButtons {
        min-width: auto;
    }
  }