.App {
  background-color: #fff;
  top:0;
  width:100%;
  position: absolute;
  overflow-y:hidden;
}

.SubTopBar {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

@media only screen and (max-width: 480px) {
  .HiddenInMobile {
      display: none !important;
  }

  .OnlyInMobile {
    display: block !important;
  }
}

.OnlyInMobile {
  display: none !important;
}

.MobileRowRight {
  text-align: right;
}